# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains IDE
.idea/
*.iml

# emacs auto-saving files
\#*#
.#*#
.#*

# makefile temp files
CMakeCache.txt
install_manifest.txt
CMakeFiles/

# test directory
test/

# binary directory
bin/

# resource directory
resource/

raytracer